.card-img-top:hover{
transform: scale(0.8);
transition: 2s;
}
.card-img-top {
  width: 100%;        /* fixed width */
  height: 400px;       /* fixed height */
  object-fit: cover;   /* crop karega aur uniform banayega */
  margin: auto;        /* center align */
}
