*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.dropdown{
    position: relative;
    cursor: pointer;
}
.dropdown-menu{
    position: absolute;
    background-color: white;
    color: black;
    display: none;
    flex-direction: column;
    
    width: 100%;
}
.dropdown-menu a{
    text-decoration: none;
    font-size: 15px;
    padding-top: 5px;
    
}
.dropdown:hover .dropdown-menu {
  display: flex;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: pink;
}
.header-option{
    display: flex;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
    gap: 40px;
color: white;
    font-size: 30px;
    border-radius: 100px;
   background-color: black;
   margin-bottom: 20px;
}

.header2{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-right: 10px;
    
}
.header2 button{
    background-color: red;
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    
}
.container{
    background-color: pink;
    display: flex;
    gap: 300px;
    padding-left: 85px;
    
    align-items: center;
   
}
.right{
    padding-right: 15px;
    padding-bottom: 10px;
}
.right img{
    width: 100px;
    border-radius: 180px;
    width: 100%;
    height: 500px;
    
}
#quotes{
    font-size: 60px;
}
.card img{
    border-radius: 100px 100px  0 0;
}

#red{
    color: red;
    font-size: 20px;
    margin-bottom: 0;
}
.card-section{
    display: flex;
    gap: 15px;
    
}
#text{
    padding-top: 30px;
}
/* container 2 ka css */

.container2{
    background-color:blue;
    display: flex;
    padding-left: 30px;
    gap: 30px;

}
.left1 img{
    border-radius: 150px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.right1{
    color: white;
    padding-top: 150px;
}
.right1 h4{
    padding-top: 5px;
}
.card-section1{
    display: flex;
    padding-top: 20px;
    gap: 10px;
    text-align: center;
    width: 100%;
    height: 200px;
}

.card1{
    background-color:white;
    color: black;
    border-top: 4px solid red;

}

.card2{
    background-color: hotpink;
}
/* container 3 ka css */
.container3{
    display: flex;
    background-color: blue;
    color:white;
    padding-left: 550px;
    padding-top: 20px;
    text-align: center;
    gap: 100px;
    padding-bottom: 10px;
}
/* container 4 ka css */

.container4{
    background-color: white;
}
.container4 h1 ,.container4 h5{
    text-align: center;
   
    
}
.container4 h5{
    padding-top: 30px;
}
.leftright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 500px;
}
.left2{
    display: flex;
    flex-direction: column;
    gap: 40px;

}
/* container 5 ka css */

.container5{
  display: flex;
    background-color: pink;
    padding-left: 10px;
    padding-top: 70px;
    gap: 90px;
}
.left3{
   display: flex;
   flex-direction: column;
   gap: 0;
   padding-bottom: 20px;
   padding-left: 200px;
}
.left3 img{
 border-radius: 100px 0;


}
.right3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right3 p{
    font-weight: bold;
    font-size: 20px;
}
/* container 6 ka css */
.container6{
     background-color: red;
     display: flex;
    padding-left: 150px;
    padding-top: 50px;
    gap: 20px;
    
}
.container6 img{
   
    padding-bottom: 30px;
}
.container7{
    background-color: aqua;
    padding-top: 20px;
}
.container7 h1{
    text-align: center;
}
.container8{
    background-color: pink;
    height: 400px;
    padding-top: 100px;
}
.team-card{
    display: flex;
    gap: 10px;
    padding-left: 350px;
   
    
}
.team-card img{
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.leftright4{
    display: flex;
    justify-content: space-between;
    padding-right: 520px;
    padding-top: 20px;
    padding-left: 150px

}
#img1{
    border-radius: 100px 100px 0 0;
    width: 100%;



}
.left4 h1{
  padding-top: 65px;
}

/* container 9 ka css */
.container9{
    background-color:blue;
}
.leftright5{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 300px;
    padding-right: 250px;

}
.left5 h1{
   padding-bottom: 40px;
   color: white;
    
}
.right5 img{
    padding-top: 30px;
    border-radius: 15px 50px;
}
.container10{
    background-color: black;
}

.footer-card {
    display: flex;
     color: white;
   padding-left: 350px;
   padding-top: 20px;
   gap: 80px;
}
.card4{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card5{
    text-align: center;
    padding-top: 50px;
    color: white;
    padding-bottom: 10px;
}

.team-card img:hover{
    transition: 1.5s;
    transform: scale(0.9);
}
.internal-leftright4{
    display: flex;
    justify-content: space-between;
   
    padding-top: 50px;
    padding-right: 230px;
        padding-bottom: 10px;
        gap: 20px;
}
.left0{
    
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.right0{
  display: flex;
    flex-direction: column;
    gap: 75px;
    
    
}

/* loader ke liye css */
.header3{
    padding-top: 20px;
    
}
.header3 input{
    border-radius: 20px;
}
#search{
 padding: 10px 20px;
 

}


@media (max-width: 768px) {

  /* HEADER */
  header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .header-option {
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    padding: 10px;
  }
  

  .header2 {
    flex-direction: column;
    align-items: center;
  }

  /* CONTAINER 1 */
  .container {
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-top: 40px;
  }
  

 .left3{
    padding-left: 20px;
    
 }
  .right img {
    height: auto;
    width: 100%;
  }

  #quotes {
    font-size: 35px;
  }

  .card-section {
    flex-direction: column;
    align-items: center;
  }

  /* CONTAINER 2 */
  .container2 {
    flex-direction: column;
    padding: 20px;
  }

  .right1 {
    padding-top: 20px;
    text-align: center;
  }

  .card-section1 {
    flex-direction: column;
    height: auto;
  }

  /* CONTAINER 3 */
  .container3 {
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
    text-align: center;
  }
.left1 img{
    width: 100%;
}
  /* CONTAINER 4 */
  .leftright {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
  }

  /* CONTAINER 5 */
  .container5 {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    text-align: center;
  }

  /* CONTAINER 6 */
  .container6 {
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
  }

  /* TEAM SECTION */
  .team-card {
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
  }

  .leftright4 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;

  }
  /* CONTAINER 9 */
  .leftright5 {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  /* FOOTER */
  .footer-card {
    flex-direction: column;
    padding-left: 20px;
    gap: 30px;
    text-align: center;
  }
  .right2 iframe{
    width: 100%;
    height: 200px;
  }
  .container8{
    flex-direction: column;
    height:480px;
    padding-top: 5px;
  }
  .internal-leftright4{
    padding-left: 50px;
   
  }

#search{
 padding: 10px;
}



}


